@model Patient

@{
    ViewData["Title"] = "Crear Paciente";
}

<div class="row">
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="NumberKey" class="control-label">Historia clinica</label>
            <input asp-for="NumberKey" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="ConsultId">Consulta</label>
            <select asp-for="ConsultId" name="Consult">
                @foreach (Consult consult in ViewBag.consults)
                {
                    <option value="@consult.Id">@consult.Description</option>
                }
            </select>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>