@{
    ViewData["Title"] = "Home Page";
}
<div class="card text-center">
  <div class="card-header">
    Bienvenidos
  </div>
  <div class="card-body">
    <h5 class="card-title">Sistema de clinica</h5>
    <p class="card-text">Es un sistema para registrar medicos, pacientes y consultas</p>
    
  </div>
  <div class="card-footer text-muted">
    <a asp-controller="Professionals" asp-action="Index" class="btn btn-primary">Empecemos!!</a>
  </div>
</div>